{% extends 'base.html.twig' %}

{% block title %}Asset User Perusahaan{% endblock %}
{% set HeaderTitle = 'Asset User Perusahaan' %}
{% set FormTitle =  'Asset User Perusahaan List'%}
{% set description = 'Add New user ' %}

{% block steylesheets %}
{% endblock %}

{% block body %}
 <!-- Page Content -->
<div class="content">
    {{ include('_globalMessage.html.twig') }}
    <!-- Material Design -->
    <h2 class="content-heading">{{ HeaderTitle }}</h2>
    <div class="block">
        <form method="post" action='{{ path('master_asset_user_delete') }}' id='frmEmpDelAttachments'>
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
            <div class="block-header block-header-default">
                <h3 class="block-title">{{ FormTitle }}</h3>
                <div class="block-options">
                    <a class="btn btn-primary mg-x-10" href="{{ path('master_asset_user_new') }}">Create new</a>
                    <button type="button" class="js-swal-confirm btn btn-danger">Delete</button>
                </div>
            </div>
            <div class="block-content block-content-full">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                    <thead>
                        <tr  style="background: lightgray;">
                            <th>
                                <label class="ckbox mg-b-0">
                                    <input type="checkbox" id='checkAll'><span></span>
                                </label>
                            </th>
                            <th>FullName</th>
                            <th>UserRoleId</th>
                            <th>UserName</th>
                            <th>Deleted</th>
                            <th>Status</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for asset_user in asset_users %}
                        <tr>
                            <td>
                                <label class="ckbox mg-b-0">
                                    <input type='checkbox' class='checkbox' name='chkAssetUser[]' value={{ asset_user.Id}}/><span></span>
                                </label>    
                            </td>
                            <td>{{ asset_user.FullName }}</td>
                            <td>{{ asset_user.UserRoleId.Name }}</td>
                            <td>{{ asset_user.UserName }}</td>
                            <td>{{ asset_user.Deleted ? 'Yes' : 'No' }}</td>
                            <td>{{ asset_user.Status ? 'Yes' : 'No' }}</td>
                            <td>
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="d-md-flex">
                                        <a href="{{ path('master_asset_user_edit', {'Id': asset_user.Id}) }}" class="btn btn-outline-primary btn-block"><i class="fa fa-pencil-square-o mg-r-10"></i> Edit</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </form>
    </div>
    <!-- END Dynamic Table Full Pagination -->
</div>
<!-- End Page Content -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}

     <script>

       $(".js-dataTable-full-pagination").dataTable({
            scrollX:true,
            "searching": false,
            columnDefs: [{ "width": "200px", "targets": [1] },
                         { "width": "100px", "targets": [2,3,4,5,6] }],
            pageLength: 8,
            lengthMenu: [
                [5, 8, 15, 20, 50],
                [5, 8, 15, 20, 50],
            ]
        });

        $("#checkAll").click(function(){
            if($("#checkAll:checked").length > 0) {
                $(".checkbox").prop('checked', true);
            } else {
                $(".checkbox").prop('checked', false);
            }
        });

        $(".checkbox").click(function() {
            $("#checkAll").prop('checked', false);
            if(($(".checkbox").length) == $(".checkbox:checked").length) {
                $("#checkAll").prop('checked', true);
            }
            
        });
    </script>
{% endblock %}