{% extends 'base.html.twig' %}

{% block title %}Attachment Perusahaan List{% endblock %}
{% set HeaderTitle = 'Attachment Perusahaan ' %}
{% set FormTitle =  'Attachment Perusahaan List'%}
{% set description = 'Add Attachment Perusahaan' %}

{% block steylesheets %}
{% endblock %}

{% block body %}
 <!-- Page Content -->
<div class="content">
    {{ include('_globalMessage.html.twig') }}
    <!-- Material Design -->
    <h2 class="content-heading">{{ HeaderTitle }}</h2>
    <div class="block">
        <form method="post" action='{{ path('berkas_perusahaan_delete') }}' id='frmEmpDelAttachments'>
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
            <div class="block-header block-header-default">
                <h3 class="block-title">{{ FormTitle }}</h3>
                <div class="block-options">
                    <a class="btn btn-primary mg-x-10" href="{{ path('berkas_perusahaan_new') }}">Create new</a>
                    <button type="button" class="js-swal-confirm btn btn-danger">Delete</button>
                </div>
            </div>
            <div class="block-content block-content-full">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                    <thead>
                        <tr style="background: lightgray;">
                            <th>
                                <label class="ckbox mg-b-0">
                                    <input type="checkbox" id='checkAll'><span></span>
                                </label>
                            </th>
                            <th>Nama File</th>
                            <th>Deskripsi</th>
                            <th>Perusahaan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for berkas_perusahaan in berkas_perusahaans %}
                            <tr>
                                <td>
                                    <label class="ckbox mg-b-0">
                                        <input type='checkbox' class='checkbox' name='chkBerkasPerusahaan[]' value={{ berkas_perusahaan.id}}/><span></span>
                                    </label>    
                                </td>
                                <td><a href="{{ path('berkas_perusahaan_download_attachment', {'id':berkas_perusahaan.id }) }}">{{ berkas_perusahaan.getAttachFilename }}</a></td>
                                <td>{{ berkas_perusahaan.deskripsi}}</td>
                                <td>{{ berkas_perusahaan.perusahaan.NamaPerusahaan}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <!-- END Dynamic Table Full Pagination -->
</div>
<!-- End Page Content -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
     <script>
       $(".js-dataTable-full-pagination").dataTable({
            {# "searching": false, #}
            pageLength: 8,
            lengthMenu: [
                [5, 8, 15, 20, 50],
                [5, 8, 15, 20, 50],
            ],
        });

        $("#checkAll").click(function(){
            if($("#checkAll:checked").length > 0) {
                $(".checkbox").prop('checked', true);
            } else {
                $(".checkbox").prop('checked', false);
            }
        });

        $(".checkbox").click(function() {
            $("#checkAll").prop('checked', false);
            if(($(".checkbox").length) == $(".checkbox:checked").length) {
                $("#checkAll").prop('checked', true);
            }
            
        });
    </script>
{% endblock %}