<!-- Page Content -->
<div class="content">
    <nav class="breadcrumb bg-white push">
        <a class="breadcrumb-item" href="{{ path('asset_kendaraan_mobil_index') }}">Asset Kendaraan Mobil</a>
        <span class="breadcrumb-item active">{{ labelBreadcrumb }}</span>
    </nav>
    {{ include('_globalMessage.html.twig') }}
    <!-- Material Design -->
    <div class="row">
        <div class="col-md-12">
            <!-- Static Labels -->
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title">{{ FormTitle }}</h3>
                </div>
                <div class="block-content">
                    <form id="frmSubmit"  method="post">
                        <div class="row">
                            <div class="col-6 form-group">
                                <div class="form-material">
                                    {{ form_widget(form.PoliceNumber, {'attr': {'class': 'form-control','placeholder':"Nomor Polisi"}})}}
                                    <label>Nomor Polisi:<span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.ChasisNumber, {'attr': {'class': 'form-control', 'placeholder':"Nomor Body (VIN)"}})}}
                                    <label>Nomor Body (VIN):</label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.EngineNumber, {'attr': {'class': 'form-control', 'placeholder':"Nomor Mesin"}})}}
                                    <label>Nomor Mesin:</label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.Manufacturer, {'attr': {'class': 'form-control', 'placeholder':"Manufaktur"}})}}
                                    <label>Manufaktur:</label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.Model, {'attr': {'class': 'form-control', 'placeholder':"Model"}})}}
                                    <label>Model:</label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.Series, {'attr': {'class': 'form-control', 'placeholder':"Series"}})}}
                                    <label>Series:</label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.Color, {'attr': {'class': 'form-control', 'placeholder':"Warna"}})}}
                                    <label>Warna:</label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.Transmission, {'attr': {'class': 'form-control', 'placeholder':"Tansmisi"}})}}
                                    <label>Tansmisi:</label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.FuelType, {'attr': {'class': 'form-control', 'placeholder':"Jenis Bahan Bakar"}})}}
                                    <label>Jenis Bahan Bakar: :</label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.Tahun, {'attr': {'class': 'form-control', 'placeholder':"Tahun Pajak"}})}}
                                    <label>Tahun Pajak:</label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.Type, {'attr': {'class': 'form-control', 'placeholder':"Tipe"}})}}
                                    <label>Tipe: :</label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.Pic, {'attr': {'class': 'form-control', 'placeholder':"PIC"}})}}
                                    <label>PIC:</label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <label class="css-control css-control-secondary css-checkbox css-checkbox-rounded">
                                    {{ form_widget(form.Airbag, {'attr': {'class': 'css-control-input'}})}}
                                    <span class="css-control-indicator"></span> Airbag
                                </label>
                            </div>
                            <div class="col-6 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.Status, {'attr': {'class': 'form-control'}})}}
                                    <label>Status: <span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <div class="form-material">
                                     {{ form_widget(form.Keterangan, {'attr': {'class': 'form-control','rows':"4" }})}}
                                    <label for="material-textarea-large">Keterangan:</label>
                                </div>
                            </div>
                        </div>
                         {{ form_rest(form) }}
                        <div class="form-group row">
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-alt-primary mr-5">{{ button_label|default('Submit') }}</button>
                                <a href="{{ path('asset_kendaraan_mobil_index') }}" class="btn btn-alt-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Static Labels -->
        </div>
    </div>
    <!-- END Material Design -->
</div>
<!-- END Page Content -->
