{% extends 'base.html.twig' %}

{% block title %}Asset Kendaraan Mobil List{% endblock %}
{% set HeaderTitle = 'Asset Kendaraan Mobil' %}
{% set FormTitle =  'Asset Kendaraan Mobil List'%}
{% set description = 'Add New user ' %}

{% block steylesheets %}
{% endblock %}

{% block body %}
 <!-- Page Content -->
<div class="content">
    {{ include('_globalMessage.html.twig') }}
    <h2 class="content-heading">{{ HeaderTitle }}</h2>
    <div class="block">
        <form method="post" action='{{ path('asset_kendaraan_mobil_delete') }}' id='frmEmpDelAttachments'>
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
            <div class="block-header block-header-default">
                <h3 class="block-title">{{ FormTitle }}</h3>
                <div class="block-options">
                    <a class="btn btn-primary mg-x-10" href="{{ path('asset_kendaraan_mobil_new') }}">Create new</a>
                    <button type="button" class="js-swal-confirm btn btn-danger">Delete</button>
                </div>
            </div>
            <div class="block-content block-content-full">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                    <thead>
                        <tr style="background: lightgray;">
                            <th>
                                <label class="ckbox mg-b-0">
                                    <input type="checkbox" id='checkAll'><span></span>
                                </label>
                            </th>
                            <th class="text-center">Nomor Polisi</th>
                            <th class="text-center">Nomer Mesin</th>
                            <th class="text-center">VIN</th>
                            <th class="text-center">Tahun Pajak</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">PIC</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asset_kendaraan_mobil in asset_kendaraan_mobils %}
                            <tr>
                                <td>
                                    <label class="ckbox mg-b-0">
                                        <input type='checkbox' class='checkbox' name='chkAssetKendaraanMobil[]' value={{ asset_kendaraan_mobil.id}}/><span></span>
                                    </label>    
                                </td>
                                <td >{{ asset_kendaraan_mobil.PoliceNumber }}</td>
                                <td>{{ asset_kendaraan_mobil.EngineNumber }}</td>
                                <td>{{ asset_kendaraan_mobil.ChasisNumber }}</td>
                                <td>{{ asset_kendaraan_mobil.Tahun }}</td>
                                <td>{{ asset_kendaraan_mobil.Type }}</td>
                                <td>{{ asset_kendaraan_mobil.Pic }}</td>
                                <td>{{ asset_kendaraan_mobil.Status }}</td>
                                <td class="text-center">
                                    <a href="{{ path('asset_kendaraan_mobil_edit', {'id': asset_kendaraan_mobil.id}) }}" class="btn btn-sm btn-secondary" title="Edit">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <!-- END Dynamic Table Full Pagination -->
</div>
<!-- End Page Content -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
     <script>
       $(".js-dataTable-full-pagination").dataTable({
            scrollX:true,
            {# "searching": false, #}
            columnDefs: [{ "width": "200px", "targets": [2,3,4,6] },
                         { "width": "150px", "targets": [1] },
                         { "width": "100px", "targets": [5,7] }],
            pageLength: 8,
            lengthMenu: [
                [5, 8, 15, 20, 50],
                [5, 8, 15, 20, 50],
            ],
        });

        $("#checkAll").click(function(){
            if($("#checkAll:checked").length > 0) {
                $(".checkbox").prop('checked', true);
            } else {
                $(".checkbox").prop('checked', false);
            }
        });

        $(".checkbox").click(function() {
            $("#checkAll").prop('checked', false);
            if(($(".checkbox").length) == $(".checkbox:checked").length) {
                $("#checkAll").prop('checked', true);
            }
        });
    </script>
{% endblock %}




