{% extends 'base.html.twig' %}

{% block title %}AssetKendaraanMobil{% endblock %}

{% block body %}
    <h1>AssetKendaraanMobil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asset_kendaraan_mobil.id }}</td>
            </tr>
            <tr>
                <th>Tahun</th>
                <td>{{ asset_kendaraan_mobil.Tahun }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ asset_kendaraan_mobil.Type }}</td>
            </tr>
            <tr>
                <th>Pic</th>
                <td>{{ asset_kendaraan_mobil.Pic }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ asset_kendaraan_mobil.Status }}</td>
            </tr>
            <tr>
                <th>Keterangan</th>
                <td>{{ asset_kendaraan_mobil.Keterangan }}</td>
            </tr>
            <tr>
                <th>PoliceNumber</th>
                <td>{{ asset_kendaraan_mobil.PoliceNumber }}</td>
            </tr>
            <tr>
                <th>EngineNumber</th>
                <td>{{ asset_kendaraan_mobil.EngineNumber }}</td>
            </tr>
            <tr>
                <th>ChasisNumber</th>
                <td>{{ asset_kendaraan_mobil.ChasisNumber }}</td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td>{{ asset_kendaraan_mobil.Manufacturer }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ asset_kendaraan_mobil.Model }}</td>
            </tr>
            <tr>
                <th>Series</th>
                <td>{{ asset_kendaraan_mobil.Series }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ asset_kendaraan_mobil.Color }}</td>
            </tr>
            <tr>
                <th>Transmission</th>
                <td>{{ asset_kendaraan_mobil.Transmission }}</td>
            </tr>
            <tr>
                <th>FuelType</th>
                <td>{{ asset_kendaraan_mobil.FuelType }}</td>
            </tr>
            <tr>
                <th>Airbag</th>
                <td>{{ asset_kendaraan_mobil.Airbag ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('asset_kendaraan_mobil_index') }}">back to list</a>

    <a href="{{ path('asset_kendaraan_mobil_edit', {'id': asset_kendaraan_mobil.id}) }}">edit</a>

    {{ include('asset_kendaraan_mobil/_delete_form.html.twig') }}
{% endblock %}
