{% extends 'base.html.twig' %}

{% block title %}AttachmentAssetKendaraanMotor index{% endblock %}

{% block body %}
    <h1>AttachmentAssetKendaraanMotor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Attach_desc</th>
                <th>Attach_filename</th>
                <th>Attach_size</th>
                <th>Attach_attachment</th>
                <th>Attached_time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attachment_asset_kendaraan_motor in attachment_asset_kendaraan_motors %}
            <tr>
                <td>{{ attachment_asset_kendaraan_motor.id }}</td>
                <td>{{ attachment_asset_kendaraan_motor.attachDesc }}</td>
                <td>{{ attachment_asset_kendaraan_motor.attachFilename }}</td>
                <td>{{ attachment_asset_kendaraan_motor.attachSize }}</td>
                <td>{{ attachment_asset_kendaraan_motor.attachAttachment }}</td>
                <td>{{ attachment_asset_kendaraan_motor.attachedTime ? attachment_asset_kendaraan_motor.attachedTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('attachment_asset_kendaraan_motor_show', {'id': attachment_asset_kendaraan_motor.id}) }}">show</a>
                    <a href="{{ path('attachment_asset_kendaraan_motor_edit', {'id': attachment_asset_kendaraan_motor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('attachment_asset_kendaraan_motor_new') }}">Create new</a>
{% endblock %}
