{% extends 'base.html.twig' %}

{% block title %}Asset Tanah Perusahaan{% endblock %}
{% set HeaderTitle = 'Asset Tanah Perusahaan' %}
{% set FormTitle =  'Asset Tanah Perusahaan List'%}
{% set description = 'Add New user ' %}

{% block steylesheets %}
{% endblock %}

{% block body %}
 <!-- Page Content -->
<div class="content">
    {{ include('_globalMessage.html.twig') }}
    <!-- Material Design -->
    <h2 class="content-heading">{{ HeaderTitle }}</h2>
    <div class="block">
        <form method="post" action='{{ path('asset_tanah_perusahaan_delete') }}' id='frmEmpDelAttachments'>
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
            <div class="block-header block-header-default">
                <h3 class="block-title">{{ FormTitle }}</h3>
            </div>
            <div class="block-content block-content-full">
                <div class="col-lg-12" style="text-align: right;margin-bottom: 10px;">
                    <a class="btn btn-primary mg-x-10" href="{{ path('asset_tanah_perusahaan_new') }}">Create new</a>
                    <button type="button" class="js-swal-confirm btn btn-danger">Delete</button>
                </div>
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                    <thead>
                        <tr  style="background: lightgray;">
                            <th>
                                <label class="ckbox mg-b-0">
                                    <input type="checkbox" id='checkAll'><span></span>
                                </label>
                            </th>
                            <th>Lokasi</th>
                            <th>Luasan</th>
                            <th>No Sertifikat</th>
                            <th>Atas Nama</th>
                            <th>NJOP</th>
                            <th>Status</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asset_tanah_perusahaan in asset_tanah_perusahaans %}
                            <tr>
                                <td>
                                    <label class="ckbox mg-b-0">
                                        <input type='checkbox' class='checkbox' name='chkAssetTanah[]' value={{ asset_tanah_perusahaan.id}}/><span></span>
                                    </label>    
                                </td>
                                <td>{{ asset_tanah_perusahaan.desa }}</td>
                                <td>{{ asset_tanah_perusahaan.luasan }}</td>
                                <td>{{ asset_tanah_perusahaan.noShm }}</td>
                                <td>{{ asset_tanah_perusahaan.namaPemilik }}</td>
                                {% set maxValue = 0 %}

                                {% for statusPembayaran in asset_tanah_perusahaan.getStatusPembayaran %} 
                                    {% set maxValue = max(statusPembayaran.getTahunPembayaran, maxValue) %}
                                {% endfor %} 
                                {% if maxValue > 0 %} 
                                    <td>{{ maxValue }}</td> 
                                {% else %}    
                                    <td></td>
                                {% endif %}
                                <td>{{ asset_tanah_perusahaan.Status }}</td>
                                <td class="text-center">
                                    <a href="{{ path('asset_tanah_perusahaan_edit', {'id': asset_tanah_perusahaan.id}) }}" class="btn btn-sm btn-secondary" title="Edit">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <!-- END Dynamic Table Full Pagination -->
</div>
<!-- End Page Content -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}

     <script>

       $(".js-dataTable-full-pagination").dataTable({
            scrollX:true,
            "searching": false,
            ordering:false,
            columnDefs: [{ "width": "200px", "targets": [1,2,3,4] },
                         { "width": "100px", "targets": [5] }],
            pageLength: 8,
            lengthMenu: [
                [5, 8, 15, 20, 50],
                [5, 8, 15, 20, 50],
            ],
            order: [[1, 'asc']],
            rowGroup: {
                startRender: null,
                endRender: function ( rows, group ) {
                    var jumlahLuasan = rows
                        .data()
                        .pluck(2)
                        .reduce( function (a, b) {
                           return a + b*1;
                        }, 0);
                        
                    return $('<tr/>')
                        .append( '<td colspan="2">Total Luas</td>' )
                        .append( '<td>'+jumlahLuasan+'</td>' )
                        .append( '<td colspan="4">&nbsp;</td>' );
                },
                dataSrc: 1
            }
        });

        $("#checkAll").click(function(){
            if($("#checkAll:checked").length > 0) {
                $(".checkbox").prop('checked', true);
            } else {
                $(".checkbox").prop('checked', false);
            }
        });

        $(".checkbox").click(function() {
            $("#checkAll").prop('checked', false);
            if(($(".checkbox").length) == $(".checkbox:checked").length) {
                $("#checkAll").prop('checked', true);
            }
            
        });
    </script>
{% endblock %}